#header{
	background-color: 	#483d8b;
}
h1 a{
	font-family: 'Fresca', sans-serif;
	color: #FFFFFF;
	font-size: 75px;
	text-decoration: none;
	padding-left: 10px;
	padding-bottom: 15px;

}

hover{
	color:#FFFFFF;
}

#glyph{
	float: right;
	padding-right: 25px;
	font-size: 50px;

}

a:hover{
	text-decoration: none; 
}

body{
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-position: center-bottom;
	background-attachment: fixed;
	background-size: cover;

}

.post-form{
	padding-left: 10px;
}

#main{
	padding-left: 15px;
	padding-right: 15px;
}


