<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/index.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
</head>
<body>
<div id="header">
<h1><a href="#">My Blog!!!</a></h1>
</div>
<h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
</body>
