<head>
	<title>Blog No.{{post.id}}</title>
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/index.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
</head>
<body>
<div id="header">
<h1><a href="#">My Blog!!!</a></h1>
</div>
<div id="main">
<h1 align="center"><strong>{{post.topic}}</strong></h1>
<p>{{post.content}}</p>
<hr>
<h2><strong>Comments:</strong></h2>
<ul>
{% for comment in post.comment_set.all %}
	<li>{{comment.text}}</li>
</ul>
{%endfor%}
<h2>New Comment:</h2>
    <form method="POST" class="comment-form">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
</body>