<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/index.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
</head>
<body>
<div id="header">
<h1><a href="#">My Blog!!!</a></h1>
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" aria-hidden="true" id="glyph"></span></a>
</div>
<div id="main">
{% if latest_list %}
	<ul>
	{% for post in latest_list %}
		<li><a href='/{{post.id}}'><h1>{{post.topic}}</h1></a></li>
		<p>Published at: {{post.pub_date}}</p>
		<p>{{post.content}}<br /></p>
		<hr>
	{% endfor %}
	</ul>
{% else %}
	<p>No Posts are available.</p>

{% endif %}
</div>
</body>
<footer><div align="center">Designed By:Kaustubh Vats</div></footer>
